.appointment-section {
    padding: 5px 0;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .appointment-form-container {
    background: #f8f9fa;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-status {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: green;
  }
  
  .form-status.error {
    color: red;
  }