body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background-color: #e2effc;
}

.navbar-brand, .navbar-nav .nav-link {
  color: #e4e1eb !important;
}
.navbar-nav .nav-link:hover {
  color: #0056b3 !important;
}

.homepage-bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.bg-slideshow {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bg-slideshow img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  animation: slide 15s infinite;
  padding: 0;
  margin: 0;
}


.bg-slideshow img:nth-child(1) {
  animation-delay: 0s;
}

.bg-slideshow img:nth-child(2) {
  animation-delay: 4s;
}

.bg-slideshow img:nth-child(3) {
  animation-delay: 8s;
}

@keyframes slide {
  0% { opacity: 0; }
  33% { opacity: 1; }
  66% { opacity: 1; }
  100% { opacity: 0; }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #050b3f;
}

.content h1 {
  font-size: 4em;
  font-weight: bold;
}

.main-tagline {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 20px;
  color: #050b3f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.sub-tagline {
  font-size: 1.3em;
  line-height: 1.6;
  color: #2c3e50;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}


